@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-Quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 130px;
}
nav div{
    display: flex;
    align-items: center;
}
nav img {
    height: 62px;
    width: 62px;
}
nav h1 {
    font-size: 32px;
    font-weight: 700;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin: 0px 35px;
}
#burger-menu{
    display: none;
}
nav button{
    height: 50px;
    width: 180px;
    font-size: 1.25rem;
    color: white;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 12px;
}
header hr{
    display: none;
}
#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 130px;
}
#banner-div1 h1{
    font-size: 3.5rem;
}
#banner-div1 p{
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
}
#banner-div1 button{
    height: 50px;
    width: 200px;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
}
button, a {
    cursor: pointer;
}

#curriculum{
    background-image: url(../assets/bg.png);
    margin: 20px 130px;
}
#curriculum h2{
    text-align: center;
    font-size: 2.875rem;
}
#curriculum-parent{
    display: flex;
    justify-content: space-evenly;
    gap: 105px;
    margin: 67px 0PX;
    padding: 40px 0px;
    
}


#curriculum-child-01{
    background: linear-gradient(180deg, rgba(222,245,255,1) 0%, rgba(255,255,255,1) 40%);
    border: 1px solid rgba(222, 245, 255, 1);
    text-align: center ;
    font-family: "Raleway", serif;
    border-radius: 18.86px;
}
#curriculum-child-02{
    background: linear-gradient(180deg, rgba(255,244,220,1) 0%, rgba(255,255,255,1) 40%);
    border: 1px solid rgba(255, 244, 220, 1);
    text-align: center ;
    font-family: "Raleway", serif;
    border-radius: 18.86px;
}
#curriculum-child-03{
    background: linear-gradient(180deg, rgba(238,225,255,1) 0%, rgba(255,255,255,1) 40%);
    border: 1px solid rgba(242, 232, 255, 1);
    text-align: center ;
    font-family: "Raleway", serif;
    border-radius: 18.86px;
}
#curriculum-parent button{
    background: none;
    border: none;
    font-size: 0.943rem;
    margin-bottom: 40px;
}
#curriculum p{
    font-size: 0.943rem;
    color: rgba(128, 128, 128, 1);
    margin: 20px 25px;
}
#curriculum-parent img{
    margin-top: 60px;
}
#curriculum-parent h3{
    margin-top: 30px;
}
#back_forward_parent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#back_forward_parent button{
    border: none;
    background-color: white;
}
#back--v1{
    background-color: rgba(254, 163, 1, 1);
    border-radius: 50%;
    transition: transform 0.5s ease, background-color 0.5s ease;
}
#forward--v1{
    background-color: rgba(254, 163, 1, 1);
    border-radius: 50%;
    transition: transform 0.5s ease, background-color 0.5s ease;
}
#back--v1:hover, #forward--v1:hover{
    background-color: rgba(254, 161, 1, 0.74);
    transform: scale(1.05);
}
#marquee{
    margin: 100px 0px;
}
#admission {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    margin: 5px 5px; 
}

.marquee-content {
    display: flex;
    animation: marquee 20s linear infinite;
    white-space: nowrap;
}

#admission h2 {
    margin: 0 20px;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
#stories{
    background: 
    linear-gradient(0deg, rgba(254, 161, 1, 0.397) 0%, rgba(255, 255, 255, 0) 100%), 
    url(../assets/bg.png);
}
#stories h2{
    text-align: center;
    font-size: 2.875rem;
    margin-top: 60px;
    font-weight: 700;
}
#story-1{
    grid-area: story-1;
    background-color: white;
    border: none;
    border-radius: 16px;
    width: 540px;
}
#story-2{
    grid-area: story-2;
    background-color: white;
    border: none;
    border-radius: 16px;
    width: 291px;
}
#story-3{
    grid-area: story-3;
    background-color: white;
    border: none;
    border-radius: 16px;
    width: 291px;
}
#story-4{
    grid-area: story-4;
    background-color: white;
    border: none;
    border-radius: 16px;
    width: 291px;
}
#story-5{
    grid-area: story-5;
    background-color: white;
    border: none;
    border-radius: 16px;
    width: 291px;
}
#stories-gallery{
    display: grid;
    grid-template-areas: 
    " story-1 story-2 story-3"
    " story-1 story-4 story-5"
    ;
    justify-content: center;
    gap: 9px;
    margin: 80px auto;
}
#stories-gallery img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
#btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-container button{
    border: none;
    background-color: black;
    color: white;
    border-radius: 12px;
    font-size: 1.25rem;
    margin-bottom: 40px;
    height: 40px;
    width: 180px;
    text-align: center;
}
#stories-gallery h4, #stories-gallery h3, #stories-gallery p{
    margin: auto 20px;
    margin-bottom: 10px;
}
#stories-gallery h4{
    padding-left: 10px;
    padding-top: 10px;
    height: 25px;
    width: 150px;
    color: white;
    border-radius: 50px;
    font-size: 0.959rem;
    position: relative;
    bottom: 25px;
} 
#stories-gallery h3{
    font-size: 0.800;
    margin-top: -20px;
    margin-bottom: 30px;
}
footer {
    width: 100%;
    background-color: rgba(1, 172, 253, 1);
    display: flex;
    justify-content: space-evenly; 
    padding: 50px 20px;
    box-sizing: border-box;
    flex-wrap: wrap; 
}

#footer-div-01, #footer-div-02, #footer-div-03 {
    flex: 1 1 30%;
    max-width: 400px;
    margin: 0 10px;
    box-sizing: border-box;
    margin-left: 210px;
}

#footer-div-01-01 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#footer-div-01-01 img {
    height: 80px;
    width: 70px;
    margin-right: 10px;
}

#footer-div-01-01 p {
    font-size: 2.188rem;
    color: white;
    font-weight: 700;
}

#ppop {
    font-size: 1.25rem;
    color: white;
    max-width: 400px;
}

#footer-div-02 ul {
    padding: 0;
    margin: 0;
}

#footer-div-02 h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}

#footer-div-02 a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

#footer-div-02 li {
    list-style: none;
    margin-top: 10px;
}

#footer-div-03 h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}

#KIT-image img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
@media (max-width: 768px) {
    nav div h1, nav ul, nav button{
        display: none;
    }    
    nav{
        display: flex;
        justify-content: space-between;
        margin: 20px 20px;
    }
    nav div img{
        height: 46px;
        width: 46px;
    }
    #burger-menu{
        display: inline;
        width: 30px;
        height: 30px;
    }
    header{
        border-bottom: 1px solid rgba(254, 163, 1, 1);
    }
    #banner{
        flex-direction: column-reverse;
    }
    #banner-div1{
        text-align: center;
    }
    #banner-div1 h1{
        font-size: 2rem;
        margin: 10px -56px;
    }
    #banner-div1 p{
        font-size: 0.875rem;
        font-weight: 400;
        margin: 20px -30px
    }
    #banner-div2 img{
        height: 413px;
        width: 336.58px;
    }
    #curriculum-parent{
        flex-direction: column;
    }
    #banner button{
        margin-bottom: 50px;
    }

    #curriculum h2{
        font-size: 1.625rem;
        margin: -30px -25px;
        margin-top: 5px;
        padding: 0px 0px;
        font-weight: 700;
    }
    #curriculum-child-01, #curriculum-child-02, #curriculum-child-03{
        margin: -40px -120px;
    }
    #back_forward_parent{
        display: none;
    }
    #story-1{
        display: none;
    }
    #story-2, #story-3,#story-4, #story-5{
        width: 173.27px;
    }
    #stories-gallery img{
        width: 173.27px;
    }
    #stories-gallery h4{
        height: 22px;
        width: 100px;
        font-size: 0.571rem;
        margin-bottom: 0px;
    }
    #stories-gallery h3{
        font-size: 0.700rem;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    footer {
        flex-direction: column; 
        padding: 20px;
    }

    #footer-div-01, #footer-div-02, #footer-div-03 {
        flex: 1 1 100%;
        margin-bottom: 20px;
        margin-left: 10px;
    }
}
